<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srt.bilconnect">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BilConnect">
        <activity
            android:name=".View.Fragments.OtherUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".View.Fragments.BlockedUsersActivity"
            android:exported="false" />
        <activity
            android:name=".View.Fragments.SettingsActivity2"
            android:exported="false" />
        <activity
            android:name=".View.EventCreationActivity"
            android:exported="false" />
        <activity
            android:name=".View.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".View.RegisteredEventsActivity"
            android:exported="false" />
        <activity
            android:name=".View.EventPageActivity"
            android:exported="false" />
        <activity
            android:name=".View.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".View.AdditionalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainPageActivity"
            android:exported="false" />
        <activity
            android:name=".View.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".View.EventCreationPages.EntertainmentEventActivity"
            android:exported="false" />
        <activity
            android:name=".View.EventCreationPages.OtherEventActivity"
            android:exported="false" />
        <activity
            android:name=".View.EventCreationPages.SportsEventActivity"
            android:exported="false" />
        <activity
            android:name=".View.EventCreationPages.StudyEventActivity"
            android:exported="false" />
        <activity
            android:name=".View.FirstPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>